.player-client {
    -fx-background-insets: 10 ;
    -fx-background-color: red;
    -fx-shape: 'M 0 0 25 200 0 400 z';
}
.player-connect {
    -fx-background-insets: 10 ;
    -fx-background-color: blue;
    -fx-shape: 'M 0 0 25 200 0 400 z';
}
.targets {
    -fx-fill : radial-gradient(focus-distance 0% , center 50% 50% , radius 65% , red, white);
    -fx-stroke: black;
    -fx-stroke-width: 3;
}
.with-padding {
    -fx-padding: 20;
}